
body {
  background-color: $color-primary-darkest;
}

main {
  position: relative;
}

main:before {
  background-image: url("../img/cg-bg-a.png");
  background-repeat: no-repeat;
  content: '';
  height: 18.61445em;
  right: 100%;
  position: absolute;
  top: 15vh;
  width: 9.25em;
}
