
@import '../core.scss';

// 18Franklin light
@font-face {
  font-family: '18Franklin-webfont';
  font-style: normal;
  font-weight: 300;
  src:
    url('#{$static-font-path}/18Franklin-14-Light.woff2') format('woff2'),
    url('#{$static-font-path}/18Franklin-14-Light.woff') format('woff'),
    url('#{$static-font-path}/18Franklin-14-Light.ttf') format('truetype');
}

// 18Franklin regular
@font-face {
  font-family: '18Franklin-webfont';
  font-style: normal;
  font-weight: 400;
  src:
    url('#{$static-font-path}/18Franklin-14-Regular.woff2') format('woff2'),
    url('#{$static-font-path}/18Franklin-14-Regular.woff') format('woff'),
    url('#{$static-font-path}/18Franklin-14-Regular.ttf') format('truetype');
}

// 18Franklin medium
@font-face {
  font-family: '18Franklin-webfont';
  font-style: normal;
  font-weight: 500;
  src:
    url('#{$static-font-path}/18Franklin-14-Medium.woff2') format('woff2'),
    url('#{$static-font-path}/18Franklin-14-Medium.woff') format('woff'),
    url('#{$static-font-path}/18Franklin-14-Medium.ttf') format('truetype');
}

// 18Franklin bold
@font-face {
  font-family: '18Franklin-webfont';
  font-style: normal;
  font-weight: 700;
  src:
    url('#{$static-font-path}/18Franklin-14-Bold.woff2') format('woff2'),
    url('#{$static-font-path}/18Franklin-14-Bold.woff') format('woff'),
    url('#{$static-font-path}/18Franklin-14-Bold.ttf') format('truetype');
}

// Roboto mono regular
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url('#{$static-font-path}/RobotoMono-Regular.ttf');
}

// Roboto mono bold
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  src: url('#{$static-font-path}/RobotoMono-Bold.ttf');
}
