
@import "../core.scss";

// Source sans light
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: url('#{$static-font-path}/sourcesanspro-light-webfont.eot');
    src: url('#{$static-font-path}/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$static-font-path}/sourcesanspro-light-webfont.woff2') format('woff2'),
         url('#{$static-font-path}/sourcesanspro-light-webfont.woff') format('woff'),
         url('#{$static-font-path}/sourcesanspro-light-webfont.ttf') format('truetype');
}

// Source sans regular
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
  	font-weight: 400;
    src: url('#{$static-font-path}/sourcesanspro-regular-webfont.eot');
    src: url('#{$static-font-path}/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$static-font-path}/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('#{$static-font-path}/sourcesanspro-regular-webfont.woff') format('woff'),
         url('#{$static-font-path}/sourcesanspro-regular-webfont.ttf') format('truetype');

}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: url('#{$static-font-path}/SourceSansPro-Semibold.ttf');
}

// Merriweather Light
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    src: url('#{$static-font-path}/merriweather-light-webfont.eot');
    src: url('#{$static-font-path}/merriweather-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$static-font-path}/merriweather-light-webfont.woff2') format('woff2'),
         url('#{$static-font-path}/merriweather-light-webfont.woff') format('woff'),
         url('#{$static-font-path}/merriweather-light-webfont.ttf') format('truetype');

}

@font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 400;
    src: url('#{$static-font-path}/merriweather-italic-webfont.eot');
    src: url('#{$static-font-path}/merriweather-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$static-font-path}/merriweather-italic-webfont.woff2') format('woff2'),
         url('#{$static-font-path}/merriweather-italic-webfont.woff') format('woff'),
         url('#{$static-font-path}/merriweather-italic-webfont.ttf') format('truetype');

}
