
@import '../core.scss';
@import '../override_vars.scss';
@import '../vars.scss';

pre {
  background: $color-gray-lighter;
  color: $color-base;
  overflow: auto;
  padding: 0.7rem;
  word-wrap: break-word;
}
