
@import "../core.scss";

table {
  border-collapse: collapse;
  border-spacing: 0;

  button,
  [type="button"] {
    padding: .5rem;
  }

  th,
  td {
    padding: .5em 1.25em;
    padding-left: 0px;
    border: none;
    border-top: 1px solid;
  }

  td:last-child {
    padding-right: 0;
  }

  thead tr {
    background-color: transparent;
  }

  thead th {
    border-top: none;
    border-bottom: 3px solid;
    font-size: .8rem;
    font-weight: 800;
  }

  tbody {
    display: flex;

    @include media($medium-screen) {
      display: table-row-group;
    }

    tr {
      display: flex;
      flex-direction: column;
      flex-flow: column wrap;
      flex-wrap: wrap;

      &:last-child {
        td {
          border-left-width: 0;

          @include media($medium-screen) {
            border-left-width: 1px;
          }
        }
      }

      @include media($medium-screen) {
        display: table-row;
      }
    }

    th {
      border-right-width: 0;
      border-bottom-width: 0;
      border-bottom: 0;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      height: 21rem;
      justify-content: center;
      margin: 0;
      width: 0;

      span {
        margin-top: 3rem;
        transform: rotate(-90deg);
        display: block;
        line-height: 1;

        @include media($medium-screen) {
          display: inline;
          line-height: initial;
          margin-top: 0;
          transform: initial;
        }
      }

      @include media($medium-screen) {
        display: table-cell;
        height: inherit;
        width: auto;
      }
    }

    td {
      border-bottom-width: 0;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      height: 21rem;
      justify-content: center;

      @include media($medium-screen) {
        display: table-cell;
        height: inherit;
      }

      input[type="checkbox"] {
        display: inline-block;
        margin-right: 0.5rem;
        width: auto;
      }

    }
  }
}

td table {
  margin: 0;
}

td .tableWrapper {
  margin: .8rem 0;
  border: 1px solid $color-primary;
  padding: 1.6rem;
  border-radius: 3px;
  margin-bottom: 3rem;
}

td thead th {
  color: $color-primary;
  border-bottom: 1px solid $color-primary;
}

td [label="Actions"] {
  text-align: right;
}