
@import '../core.scss';


body {
  color: $color-base;
  font-weight: 400;
  line-height: $leading-body;
  font-size: $base-type-px;
}

a {
  text-decoration: none;
}

strong {
  font-family: $font-sans;
  font-weight: 600;
}

// constrain to docs content
.usa-content.content p strong,
.usa-content.content li strong {
  font-size: $sans-s5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-sans;
  font-weight: 400;
  margin: 0;

  & + p {
    margin-top: $b1x;
  }

  & + .text_block {
    margin-top: $b3x;
  }
  
  // using this style until I have an italic solution
  em, i {
    font-style: normal;
    color: $color-red;
  }
}

h1 {
  font-size: $sans-s7;
  line-height: $leading-hed;
  font-weight: 200;

  @include media($medium-screen) {
    font-size: $sans-s8;
  }

  & + p {
    margin-top: $b3x;
  }

  & + h2 {
    margin-top: $b2x;
  }

  & + h4 {
    margin-top: $b3x;
  }
}

h2 {
  font-size: $sans-s6;
  font-weight: 200;
  margin-bottom: $b2x;

  @include media($medium-screen) {
    font-size: $sans-s7;
  }
}

h3 {
  font-size: $sans-s6;
  margin-top: $b6x;
  font-weight: 600;
  &:first-child {
    margin-top: 0;
  }
}

h2 + h3 {
  margin-top: $b2x;
}

h4 {
  font-size: $sans-s4;
  font-weight: 600;

  & + h4 {
    margin-top: $b1x;
  }
}

h5 {
  font-size: $sans-s2;
  font-weight: 600;
}

p {
  font-family: $font-serif;
  font-size: $serif-s4;
  line-height: $leading-body;
  &:first-child {
    margin-top: 0;
  }

  @include media($medium-screen) {
    font-size: $serif-s5;
  }
}

p.page-lede {
  color: $color-mediumgray;
  font-family: $font-sans;
  font-size: $sans-s5;
  font-weight: 200;
  line-height: $leading-body;
  padding-bottom: $b2x;
}

//spacing after block elements
p, ul, ol, pre {
  & + h1,
  & + h2,
  & + h3,
  & + h4,
  & + h5 {
    margin-top: $b4x;
  }  
}

// constrain to docs content
.usa-content.content p, 
.usa-content.content li {
  a {
    text-decoration: none;
    border-bottom: 1px solid;
    padding-bottom: 2px;
  }
}

// constrain to docs content
.usa-content.content li {
  font-family: $font-serif;
  font-size: $serif-s5;
}

blockquote {
  margin-left: 0;
  margin-right: 0;
}

code {
  background-color: $color-cream;
  border-radius: $rounded;
  display: inline-block;
  line-height: $leading-cap;
  padding: 2px 6px;
}

.usa-content.content code {
  font-size: $mono-s4;
}

pre {
  background-color: $color-cream;
  border-radius: $rounded;
  
  code {
    background-color: transparent;
    padding: 0;
    line-height: $leading-body;
    display: inline;
  }
}