<div class="swatch">
  <div class="example swatch-color bg-red"></div>
  <div class="font-sans sans-s5 fw-bold">red</div>
  <div class="font-mono mono-s3 fw-light">#be4900</div>
</div>

<div class="swatch">
  <div class="swatch-color bg-blue"></div>
  <div class="swatch-title font-sans sans-s5 fw-bold">blue</div>
  <div class="swatch-code font-mono mono-s3 fw-light">#056dd4</div>
</div>

<div class="swatch">
  <div class="swatch-color bg-gold"></div>
  <div class="swatch-title font-sans sans-s5 fw-bold">gold</div>
  <div class="swatch-code font-mono mono-s3 fw-light">#f4b400</div>
</div>

<div class="swatch">
  <div class="swatch-color bg-green"></div>
  <div class="swatch-title font-sans sans-s5 fw-bold">green</div>
  <div class="swatch-code font-mono mono-s3 fw-light">#0daf00</div>
</div>

<div class="swatch">
  <div class="swatch-color bg-brightmint"></div>
  <div class="swatch-title font-sans sans-s5 fw-bold">brightmint</div>
  <div class="swatch-code font-mono mono-s3 fw-light">#00df99</div>
</div>

<div class="swatch">
  <div class="swatch-color bg-cream"></div>
  <div class="swatch-title font-sans sans-s5 fw-bold">cream</div>
  <div class="swatch-code font-mono mono-s3 fw-light">#f5f5f3</div>
</div>

<div class="swatch">
  <div class="swatch-color bg-trueblack"></div>
  <div class="swatch-title font-sans sans-s5 fw-bold">trueblack</div>
  <div class="swatch-code font-mono mono-s3 fw-light">#000000</div>
</div>

<div class="swatch">
  <div class="swatch-color bg-textblack"></div>
  <div class="swatch-title font-sans sans-s5 fw-bold">textblack</div>
  <div class="swatch-code font-mono mono-s3 fw-light">#333333</div>
</div>

<div class="swatch">
  <div class="swatch-color bg-darkgray"></div>
  <div class="swatch-title font-sans sans-s5 fw-bold">darkgray</div>
  <div class="swatch-code font-mono mono-s3 fw-light">#555555</div>
</div>

<div class="swatch">
  <div class="swatch-color bg-mediumgray"></div>
  <div class="swatch-title font-sans sans-s5 fw-bold">mediumgray</div>
  <div class="swatch-code font-mono mono-s3 fw-light">#8e8e8e</div>
</div>

<div class="swatch">
  <div class="swatch-color bg-mediumgray-trans"></div>
  <div class="swatch-title font-sans sans-s5 fw-bold">mediumgray-trans</div>
  <div class="swatch-code font-mono mono-s3 fw-light">rgba(0, 0, 0, .4)</div>
</div>

<div class="swatch">
  <div class="swatch-color bg-lightgray"></div>
  <div class="swatch-title font-sans sans-s5 fw-bold">lightgray</div>
  <div class="swatch-code font-mono mono-s3 fw-light">#d3d3d3</div>
</div>

<div class="swatch">
  <div class="swatch-color bg-lightestgray"></div>
  <div class="swatch-title font-sans sans-s5 fw-bold">lightestgray</div>
  <div class="swatch-code font-mono mono-s3 fw-light">#f5f5f3</div>
</div>

<div class="swatch">
  <div class="swatch-color bg-white"></div>
  <div class="swatch-title font-sans sans-s5 fw-bold">white</div>
  <div class="swatch-code font-mono mono-s3 fw-light">#ffffff</div>
</div>
