code {
  font-family: monospace;
  font-size: 0.9rem;
}

.Header {
  background-color: #333;
  box-shadow: none;
}

.Header-button {
  border-radius: 0;
  font-size: initial;
  margin: 0;
  min-width: initial;
  padding: 0;
}

.preview {
  padding: 1rem;
}

.Frame-panel--sidebar {
  background: #f5f5f3;
}

.Tree-title,
.Tree-collectionLabel {
  color: #333;
}

.grid-container {
  background-color: white;
  color: white;
  margin: auto;
  max-width: 1040px;
  padding: 1rem;
  text-align: center;
}

.grid--default-preview .grid {
  padding: 1rem 0;
}

.grid--default-preview .grid-width-1,
.grid--default-preview .grid-width-2,
.grid--default-preview .grid-width-3,
.grid--default-preview .grid-width-4,
.grid--default-preview .grid-width-5,
.grid--default-preview .grid-width-6,
.grid--default-preview .grid-width-7,
.grid--default-preview .grid-width-8,
.grid--default-preview .grid-width-9,
.grid--default-preview .grid-width-10,
.grid--default-preview .grid-width-11,
.grid--default-preview .grid-width-12 {
  background-color: #999;
}

[dir='ltr'] .Header-button {
  border: none;
}

.Tree-title,
.Tree-collectionLabel,
.Tree-item,
.Pen-title,
.Browser-tab a {
  font: normal .85rem/1.2 '18Franklin-webfont', system, -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
}

.Tree-title,
.Tree-collectionLabel,
[dir="ltr"] .Tree-depth-1 .Tree-collectionLabel,
[dir="ltr"] .Tree-depth-1 .Tree-entityLink {
  padding-left: 0;
}

.Tree-collectionLabel {
  font-weight: 700;
}

ul.Tree-collectionItems {
  padding-left: .9rem;
}

[dir="ltr"] .Tree-collectionLabel span {
  margin: 0;
}

ol,ul {
  padding-left: 0;
}

[dir="ltr"] .Tree-title {
  padding-left: 0;
}

.Frame-panel--sidebar {
  padding: 1.25rem 1rem;
}

[dir="ltr"] .Tree-depth-3 .Tree-collectionLabel {
  font-weight: 500;
  font-size: .85rem;
}

.Tree-title {
  font-size: .7rem;
}

.Tree-collectionLabel {
  font-size: 1rem;
}

[dir="ltr"] .Tree-collectionLabel span::before {
  left: -3px;
  top: 3px;
  background-size: 10px;
}

.Tree-title, .Tree-collectionLabel, [dir="ltr"] .Tree-depth-1 .Tree-collectionLabel, [dir="ltr"] .Tree-depth-1 .Tree-entityLink {
  padding-left: 12px;
}

.Tree-depth-1 {
  padding-left: -12px;
}

.Pen-title {
  font-size: 1.75rem;
  font-weight: 200;
}

.Pen-header {
  padding: 2.5rem 0.75rem
}

[dir="ltr"] .Pen-previewLink svg {
  margin-left: 4px;
  margin-bottom: 1px;
}

.Browser-tab a {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 56px;
  margin-top: 4px;
  margin-left: 8px;
}

.Browser-tab a span {
  padding-top: 1px;
}

.Browser-tab svg {
  fill: #838383;
  padding-right: 4px;
  height: 32px;
  width: 24px;
}

.Browser-tab.is-active svg {
  fill: #056DD4;
}

.Browser-tab.is-active a {
  border-bottom-color: #056DD4;
}

.Meta-value {
  white-space: normal;
}


/* pattern library helper styles */

body {
  background-color: white;
}

.pattern {
  margin: 8px 8px 32px;
}

.pattern-example {
  margin-bottom: 8px;
}

.swatch {
  float: left;
  width: 160px;
  height: 160px;
  margin: 8px 8px 32px;
}

.swatch-color {
  height: 120px;
  margin-bottom: 8px;
}
