<article class="panel">
  <h1 class="panel-title">Panel title</h1>
  <div class="panel-rows">
    <section class="panel-group">
      <header class="panel-header">
        <h2>Group header</h2>
        <span>Secondary information</span>
      </header>
      <div class="panel-row">
        <div class="panel-column">
          <span>Cloud.gov</span>
        </div>
        <div class="panel-column">
          <span>Cloud.gov</span>
        </div>
        <div class="panel-column">
          <span>Cloud.gov</span>
        </div>
      </div>
      <div class="panel-row">
        <div class="panel-column">
          <span>Cloud.gov</span>
        </div>
      </div>
    </section>
  </div>
</article>
