<div class="pattern">
  <div class="pattern-example font-sans sans-s3 measure-narrow leading-body fw-medium">We hold these truths to be self-evident: that all men are created equal, that they are endowed by their creator with certain unalienable rights, that among these are life, liberty and the pursuit of happiness. That to secure these rights, governments are instituted among men, deriving their just powers from the consent of the governed.</div>
  <div class="pattern-title font-sans sans-s5 fw-bold">13px/1.55</div>
  <div class="pattern-vars font-sans sans-s2 fw-bold">$sans-s3 $fw-medium $leading-body $measure-narrow</div>
  <div class="pattern-code font-mono mono-s3 fw-light">.sans-s3.fw-medium.leading-body.measure-narrow</div>
</div>

<div class="pattern">
  <div class="pattern-example font-serif serif-s3 measure-narrow leading-body">We hold these truths to be self-evident: that all men are created equal, that they are endowed by their creator with certain unalienable rights, that among these are life, liberty and the pursuit of happiness. That to secure these rights, governments are instituted among men, deriving their just powers from the consent of the governed.</div>
  <div class="pattern-title font-sans sans-s5 fw-bold">14px/1.55</div>
  <div class="pattern-vars font-sans sans-s2 fw-bold">$serif-s3 $leading-body $measure-narrow</div>
  <div class="pattern-code font-mono mono-s3 fw-light">.serif-s3.leading-body.measure-narrow</div>
</div>

<div class="pattern">
  <div class="pattern-example font-sans sans-s4 measure-reading leading-body fw-medium">In compliance with the request of a friend of mine, who wrote me from the East, I called on good-natured, garrulous old Simon Wheeler, and inquired after my friend’s friend, Leonidas W. Smiley, as requested to do, and I hereunto append the result. I have a lurking suspicion that Leonidas W. Smiley is a myth; and that my friend never knew such a personage; and that he only conjectured that if I asked old Wheeler about him, it would remind him of his infamous Jim Smiley, and he would go to work and bore me to death with some exasperating reminiscence of him as long and as tedious as it should be useless to me. If that was the design, it succeeded.</div>
  <div class="pattern-title font-sans sans-s5 fw-bold">14px/1.55</div>
  <div class="pattern-vars font-sans sans-s2 fw-bold">$sans-s4 $fw-medium $leading-body $measure-reading</div>
  <div class="pattern-code font-mono mono-s3 fw-light">.sans-s4.fw-medium.leading-body.measure-reading</div>
</div>
<div class="pattern">
  <div class="pattern-example font-serif serif-s4 measure-reading leading-body ">In compliance with the request of a friend of mine, who wrote me from the East, I called on good-natured, garrulous old Simon Wheeler, and inquired after my friend’s friend, Leonidas W. Smiley, as requested to do, and I hereunto append the result. I have a lurking suspicion that Leonidas W. Smiley is a myth; and that my friend never knew such a personage; and that he only conjectured that if I asked old Wheeler about him, it would remind him of his infamous Jim Smiley, and he would go to work and bore me to death with some exasperating reminiscence of him as long and as tedious as it should be useless to me. If that was the design, it succeeded.</div>
  <div class="pattern-title font-sans sans-s5 fw-bold">15px/1.55</div>
  <div class="pattern-vars font-sans sans-s2 fw-bold">$serif-s4 $leading-body $measure-reading</div>
  <div class="pattern-code font-mono mono-s3 fw-light">.serif-s4.leading-body.measure-reading</div>
</div>
<div class="pattern">
  <div class="pattern-example font-sans sans-s5 measure-reading leading-body fw-regular">In compliance with the request of a friend of mine, who wrote me from the East, I called on good-natured, garrulous old Simon Wheeler, and inquired after my friend’s friend, Leonidas W. Smiley, as requested to do, and I hereunto append the result. I have a lurking suspicion that Leonidas W. Smiley is a myth; and that my friend never knew such a personage; and that he only conjectured that if I asked old Wheeler about him, it would remind him of his infamous Jim Smiley, and he would go to work and bore me to death with some exasperating reminiscence of him as long and as tedious as it should be useless to me. If that was the design, it succeeded.</div>
  <div class="pattern-title font-sans sans-s5 fw-bold">16px/1.55</div>
  <div class="pattern-vars font-sans sans-s2 fw-bold">$serif-s5 $fw-regular $leading-body $measure-reading</div>
  <div class="pattern-code font-mono mono-s3 fw-light">.serif-s5.fw-regular.leading-body.measure-reading</div>
</div>
<div class="pattern">
  <div class="pattern-example font-serif serif-s5 measure-reading leading-body ">In compliance with the request of a friend of mine, who wrote me from the East, I called on good-natured, garrulous old Simon Wheeler, and inquired after my friend’s friend, Leonidas W. Smiley, as requested to do, and I hereunto append the result. I have a lurking suspicion that Leonidas W. Smiley is a myth; and that my friend never knew such a personage; and that he only conjectured that if I asked old Wheeler about him, it would remind him of his infamous Jim Smiley, and he would go to work and bore me to death with some exasperating reminiscence of him as long and as tedious as it should be useless to me. If that was the design, it succeeded.</div>
  <div class="pattern-title font-sans sans-s5 fw-bold">17px/1.55</div>
  <div class="pattern-vars font-sans sans-s2 fw-bold">$serif-s5 $leading-body $measure-reading</div>
  <div class="pattern-code font-mono mono-s3 fw-light">.serif-s5.leading-body.measure-reading</div>
</div>
<div class="pattern">
  <div class="pattern-example font-sans sans-s6 measure-reading leading-body fw-regular">In compliance with the request of a friend of mine, who wrote me from the East, I called on good-natured, garrulous old Simon Wheeler, and inquired after my friend’s friend, Leonidas W. Smiley, as requested to do, and I hereunto append the result. I have a lurking suspicion that Leonidas W. Smiley is a myth; and that my friend never knew such a personage; and that he only conjectured that if I asked old Wheeler about him, it would remind him of his infamous Jim Smiley, and he would go to work and bore me to death with some exasperating reminiscence of him as long and as tedious as it should be useless to me. If that was the design, it succeeded.</div>
  <div class="pattern-title font-sans sans-s5 fw-bold">18px/1.55</div>
  <div class="pattern-vars font-sans sans-s2 fw-bold">$serif-s6 $fw-regular $leading-body $measure-reading</div>
  <div class="pattern-code font-mono mono-s3 fw-light">.serif-s6.fw-regular.leading-body.measure-reading</div>
</div>
<div class="pattern">
  <div class="pattern-example font-serif serif-s6 measure-reading leading-body ">In compliance with the request of a friend of mine, who wrote me from the East, I called on good-natured, garrulous old Simon Wheeler, and inquired after my friend’s friend, Leonidas W. Smiley, as requested to do, and I hereunto append the result. I have a lurking suspicion that Leonidas W. Smiley is a myth; and that my friend never knew such a personage; and that he only conjectured that if I asked old Wheeler about him, it would remind him of his infamous Jim Smiley, and he would go to work and bore me to death with some exasperating reminiscence of him as long and as tedious as it should be useless to me. If that was the design, it succeeded.</div>
  <div class="pattern-title font-sans sans-s5 fw-bold">19px/1.55</div>
  <div class="pattern-vars font-sans sans-s2 fw-bold">$serif-s6 $leading-body $measure-reading</div>
  <div class="pattern-code font-mono mono-s3 fw-light">.serif-s6.leading-body.measure-reading</div>
</div>
