<div class="pattern">
  <div class="pattern-example font-sans sans-s8 measure-narrow leading-hed fw-light">Correcting misperceptions about public policy issues</div>
  <div class="pattern-title font-sans sans-s5 fw-bold">24px/1.05</div>
  <div class="pattern-vars font-sans sans-s2 fw-bold">$sans-s8 $fw-light $leading-hed $measure-narrow</div>
  <div class="pattern-code font-mono mono-s3 fw-light">.sans-s8.fw-light.leading-hed.measure-narrow</div>
</div>

<div class="pattern">
  <div class="pattern-example font-sans sans-s9 measure-narrow leading-hed fw-bold">Correcting misperceptions about public policy issues</div>
  <div class="pattern-title font-sans sans-s5 fw-bold">40px/1.05</div>
  <div class="pattern-vars font-sans sans-s2 fw-bold">$sans-s9 $fw-bold $leading-hed $measure-narrow</div>
  <div class="pattern-code font-mono mono-s3 fw-light">.sans-s9.fw-bold.leading-hed.measure-narrow</div>
</div>

<div class="pattern">
  <div class="pattern-example font-sans sans-s10 measure-narrow leading-hed fw-bold">Correcting misperceptions</div>
  <div class="pattern-title font-sans sans-s5 fw-bold">100px/1.05</div>
  <div class="pattern-vars font-sans sans-s2 fw-bold">$sans-s10 $fw-bold $leading-hed $measure-narrow</div>
  <div class="pattern-code font-mono mono-s3 fw-light">.sans-s9.fw-bold.leading-hed.measure-narrow</div>
</div>
