<div class="pattern">
  <div class="pattern-example font-sans sans-s8 leading-single fw-medium">Use for single lines.</div>
  <div class="pattern-title font-sans sans-s5 fw-bold">24px/1</div>
  <div class="pattern-vars font-sans sans-s2 fw-bold">$sans-s8 $fw-medium $leading-single</div>
  <div class="pattern-code font-mono mono-s3 fw-light">.sans-s8.fw-medium.leading-single</div>
</div>

<div class="pattern">
  <div class="pattern-example font-sans sans-s9 leading-single fw-bold">It improves vertical alignment.</div>
  <div class="pattern-title font-sans sans-s5 fw-bold">40px/1</div>
  <div class="pattern-vars font-sans sans-s2 fw-bold">$sans-s9 $fw-bold $leading-single</div>
  <div class="pattern-code font-mono mono-s3 fw-light">.sans-s9.fw-bold.leading-single</div>
</div>
