<button class="action action-{{ modifier }}">A button element</button>

<button class="action usa-button-outline action-{{ modifier }}">A button outline</button>

<a class="action action-link action-{{ modifier }}" href="javascript:void(0)">A button link</a>
