---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Clearfix helper
@mixin clearfix() {
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

pre {
  background: #F1F1F1;
}

.header-title {
  span { 
    display: inline-block;
    margin-left: 10px;
    margin-top: 6px;
    vertical-align: top;
  }
}

.component {
  @include clearfix;
  border: 1px solid #eeeeee;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em 3rem;

  // Attempt a very clean test environment for visual regression testing
  &.testable {
    pre {
      display: none;
    }

    .example {
      margin-top: 0;
    }

    .force-inline {
      display: initial; 
      margin-bottom: 0;
      margin-right: 0;
      text-align: initial;

      & > .hexagon {
        display: block;
        margin-right: 0;
      }
    }
  }
}

.example {
  @include clearfix;
  margin-top: 1.5rem;

  pre {
    margin-top: 3rem;
  }
}

.force-inline {
  display: inline-block;
  margin-bottom: 1rem;
  margin-right: 2rem;
  text-align: center;

  & > .hexagon {
    display: inline-block;
    margin-right: 1rem;
  }

  &:last-child {
    margin-right: 0;
  }
}

.force-clear {
  @include clearfix;
  clear: both;
}

.section_container {
  background-color: #1F2C38;
  margin-top: 6rem
}

