
@import '../override_vars.scss';
@import '../core.scss';
@import '../../../node_modules/uswds/src/stylesheets/core/utilities.scss';
@import '../../../node_modules/uswds/src/stylesheets/core/defaults.scss';

.action-link {
  color: $color-primary;
  font-size: $sans-s2;
  font-weight: bold;
  text-decoration: underline;

  &:visited { color: $color-primary; }

  &:hover {
    color: darken($color-primary, 20%);
    text-decoration: none;
  }
}

// Extra specificity due to WDS.
.action {
  &.action-primary { font-size: $sans-s2; }

  &.action-cautious {
    background-color: $color-gray;

    &:hover { color: $color-primary; }

    &.action-link {
      background-color: transparent;
      color: $color-gray;
    }

    &.usa-button-outline {
      background-color: transparent;
      color: $color-gray;
      box-shadow: inset 0 0 0 1px $color-gray;
      font-size: $sans-s2;

      &:hover { box-shadow: inset 0 0 0 1px $color-primary; }
    }
  }

  &.action-warning {
    background-color: $color-warning;

    &.action-link {
      background-color: transparent;
      color: $color-warning;
    }

    &.usa-button-outline {
      background-color: transparent;
      color: $color-warning;
      box-shadow: inset 0 0 0 1px $color-warning;
    }
  }

  &.action-finish {
    background-color: $color-finish;
  }
}

/* TODO refactor "actions" into own components */
.actions-large {
  background-color: $color-secondary-lightest;
  margin: -2rem;
  padding: 3rem 2rem;
}

.actions-callout-inline-block {
  display: inline-block;
  border: 1px solid;
  border-radius: 2px;
  font-weight: 600;
  margin: 0 .25rem;
  padding: 0.05em .25em .2em;
}
