
@import '../core.scss';
@import '../override_vars.scss';
@import '../vars.scss';

.activity_log {
  list-style-type: none;
  margin-left: 0;
  margin-top: $grid-1;
  padding-left: 0;
  width: 100%;
}

.activity_log-item_text {
  position: relative;
  word-wrap: break-word;
}

.activity_log-item_timestamp {
  cursor: pointer;
  text-align: right;
}

.activity_log-item_text,
.activity_log-item_timestamp {
  flex-grow: 1;
  font-family: $font-mono;
  font-size: $sans-s3;
  max-width: initial;
}

.activity_log-item {
  align-items: center;
  border-bottom: 1px solid $color-lightgray;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: $grid-1 0;
  position: relative;
  width: 100%;

  &:first-child {
    border-top: 1px solid $color-lightgray;
  }
}

.activity_log-item-error,
.activity_log-item-success,
.activity_log-item-warning {

  padding-left: $grid-2;

  &::before {
    @extend .status-pill;
    height: 75%;
  }

  .activity_log-item_text {
    font-family: $font-sans;
    font-weight: 600;
  }
}

.activity_log-item-error {
  .activity_log-item_timestamp {
    color: $color-error;
  }

  &::before {
    border-color: $color-error; // #e31c3d;
  }
}

.activity_log-item-warning {
  &::before {
    border-color: $color-gold;
  }
}

.activity_log-item-success {
  &::before {
    border-color: $color-ok; //#2e8540;
  }

}

.activity_log-item_raw {
  flex-grow: 2;
  max-width: 60rem;
  min-width: 50rem;

  pre {
    background-color: $color-gray-lightest;
    padding: .8rem;
  }
}
