
@import "../override_vars.scss";
@import "../core.scss";
@import "../../../node_modules/uswds/src/stylesheets/core/utilities.scss";
@import "../../../node_modules/uswds/src/stylesheets/core/defaults.scss";

.action_box {
  background-color: #ffffff;
  border: 2px solid $color-gray-light;
  display: table;
  padding: 1rem;
}
