
@import '../override_vars.scss';
@import '../core.scss';

.breadcrumbs {
  @extend %fw400;
  @extend %sans-s5;
  @extend %lh-single;
  @extend %mb4;
  @extend %mtn2;
}

.breadcrumbs-item {
  @extend %inline-block;

  // Breadcrumb separator
  &::after {
    color: $color-mediumgray-trans;
    content: '/';
    display: inline;
    font-size: $sans-s6;
    line-height: $lh-single;
    padding: 0 $grid-1;
    position: relative;
    top: 2px;
  }
}

.breadcrumbs-item-link {
  @extend %bb1px;
  @extend %inline-block;
  padding-bottom: .15em;
}
