@import '../../../node_modules/uswds/src/stylesheets/core/defaults.scss';
@import '../override_vars.scss';
@import '../core.scss';

.card-home-contents {
  background-color: $color-white;
  border: 1px solid $color-textblack;
  border-radius: $rounded;
  margin-bottom: $grid-2;
  padding: $grid-3;
  padding: $grid-3 $grid-2;
}

.card-home-contents-title {
  font-size: $sans-s8;
  font-weight: 400;
  line-height: 1;
}
