@import '../override_vars.scss';
@import '../core.scss';

.contents-primary {
  font-size: $sans-s7;
  font-weight: 400;
  line-height: $lh-single;
  position: relative;
  top: 2px;

  .icon-bordered {
    top: -2px;
  }
}

.contents-secondary {
  font-size: $sans-s6;
  font-weight: 400;
  line-height: $lh-single;
  position: relative;
  top: 2px;

  .icon-bordered {
    top: -2px;
  }
}

.contents-path {
  color: $color-mediumgray;
}
