@import '../override_vars.scss';
@import '../core.scss';
@import 'grid.scss';

.contents-primary,
.contents-secondary {
  font-size: $sans-s6;
  font-weight: 400;
  line-height: $lh-single;
  position: relative;
  top: 2px;

  .icon-bordered {
    top: -2px;
  }

  .icon-medium {
    margin-right: $grid-05;
  }
}

.contents-path {
  color: $color-mediumgray;
}

.contents-tree-app,
.contents-tree-space,
.contents-tree-org {
  width: 100%;
}

.contents-tree-space {
  > .panel-entry {
    border-top: 1px solid $color-textblack;
  }

  .contents-tree-app {
    margin-left: $grid-4;

    &:last-child {
      .panel-entry:last-child {
        border-bottom: none;
      }
    }
  }

  &:last-child {
    border-bottom: 1px solid;
  }
}

.card {
  .contents-tree-space:last-child {
    border: none;
  }
}

.contents-tree-app {
  .panel-entry:last-child {
    border-bottom: none;
  }

  &:last-child {
    .panel-entry:last-child {
      border-bottom: 1px solid $color-lightgray;
    }
  }
}

.contents-tree-column {
  @extend .col;
  @extend .col-flex-0;
  min-width: 144px;
  padding-left: $grid-8;
  text-align: right;

  .subtext {
    line-height: $lh-single;
  }
}

.contents-tree-value {
  display: block;
  font-size: $sans-s5;
  font-weight: 400;
  line-height: $lh-single;
  padding-bottom: $grid-05;
}
