
@import '../core.scss';

.footer {
  @include clearfix;
  padding-bottom: 3rem;
  padding-top: 2rem;
}

.footer-links {
  text-align: right;

  a {
    color: $color-white;
  }
}

.content footer {
  border-top: 1px solid $color-lightgray;
  font-size: $fs-sans-s2;
  font-weight: 600;
  margin-top: $grid-3;
  padding-bottom: 0;
  padding-top: $grid-2;
}

// overriding uswds
.usa-footer-slim .usa-footer-contact_info {
  width: auto;

  @include media($medium-screen) {
    float: right;
    width: auto;
  }
}

.usa-footer-primary-section {
  background-color: $color-cream;
}
