.grid {
  @include outer-container;
  padding: 0 $gutter;

  @include media($large-screen) {
    padding: 0;
  }

  // Keep .content backwards compatible
  //TODO probably delete this rule once all the repos adopt the new grid
  .content & {
    padding: 0;
  }

  // grid columns
  @for $i from 1 through 12 {
    .grid-width-#{$i} {
      @include span-columns(12);
      @include omega;

      @include media($medium-screen) {
        @include span-columns($i);
      }
    }
  }
}

.row {
  display: flex;
}

//align across the x-axis
.row-center-x {
  @extend .row;
  align-items: center;
}

//align bottom (end of cross-axis)
.row-end {
  @extend .row;
  align-items: flex-end;
}

//align top (start of cross-axis)
.row-start {
  @extend .row;
  align-items: flex-start;
}

//align centered on the y-axis
.row-center-y {
  @extend .row;
  justify-content: center;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    width: 100% / (12 / $i);
  }
}

.col-fill {
  flex: 1;
}

.col-fit {
  flex: none;
}
