
@import '../core.scss';

.header {
  background: $color-white;
  min-height: 6.875rem;
}

.header-wrap {
  @include clearfix;
  margin: 0 auto;
  max-width: $site-max-width;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: $grid-5;
  padding-bottom: $grid-3;
}

.header-title {
  float: left;
  margin-bottom: .6rem;
}

.header-side {

  float: left;
  width: 100%;
  position: relative;

  @include media($medium-screen) {

    float: right;
    width: calc(100% - 260px);
  }
}

.header-view {
  background: $color-white;
  padding-bottom: $grid-4;
}
