
.header {
  background: $color-white;
  min-height: 6.875rem;
}

.header-wrap {
  @include clearfix;
  margin: 0 auto;
  max-width: $site-max-width;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1.875rem;
}

.header-title {
  float: left;
  margin-bottom: .6rem;
}

.header-side {
  float: left;
  width: 60%;

  @include media($medium-screen) {
    float: right;
  }
}
