
.hex_icon {
  display: block;
  height: 5.625rem;
  padding-top: 4.2%;
  width: 4.9rem;
}

.hex_icon-i {
  display: block;
  margin: 0 auto;
  width: 40%;
}

.hex_icon-primary {
  background-image: url("../img/icon-hex-primary.svg");
}

.hex_icon-alt {
  background-image: url("../img/icon-hex-alt.svg");
}
