
@import '../core.scss';

.icon-container {
  height: 3.125rem;
  width: 3.9rem;

  .icon {
    height: 100%;
    max-height: 3.1rem;
    max-width: none;
    width: 100%;
  }

  & + h3 {
    margin-top: $grid-3;
  }

  & + .icon-container {
    margin-top: 1rem;
  }
}

.icon {
  display: inline-block;
  fill: transparent;
  height: 1em;
  max-height: 2rem;
  max-width: 2rem;
  min-height: 20px;
  min-width: 20px;
  stroke: currentColor;
  position: relative;
  top: -0.0625rem;
  vertical-align: middle;
  width: 1em;
}

.icon-alt {
  stroke: $color-primary-alt-light;
}

.icon-ok {
  stroke: $color-ok;
}

.icon-error {
  stroke: $color-error;
}

.icon-fill {
  @extend .icon;
  fill: currentColor;
  stroke: transparent;

  &.icon-ok {
    fill: $color-ok;
  }

  &.icon-error {
    fill: $color-error;
  }

  &.icon-alt {
    fill: $color-primary-alt-light;
  }
}

* + .icon,
* + .icon-fill {
  display: inline-block;
  margin-left: 1rem;
}

.icon,
.icon-fill {
  & + * {
    display: inline-block;
    margin-left: 1rem;
  }
}
