
@import '../core.scss';

.icon-container {
  height: 3.125rem;
  width: 3.9rem;

  .icon {
    height: 100%;
    max-height: 3.1rem;
    max-width: none;
    width: 100%;
  }

  & + h3 {
    margin-top: $grid-3;
  }

  & + .icon-container {
    margin-top: 1rem;
  }
}

.icon {
  display: inline-block;
  fill: transparent;
  position: relative;
  stroke: currentColor;
  top: -0.0625rem;
  vertical-align: middle;
  width: 1em;

  &-small {
    @extend .icon;
    height: $grid-2;
    width: $grid-2;
  }
  &-medium {
    @extend .icon;
    height: $grid-3;
    width: $grid-3;
  }
  &-large {
    @extend .icon;
    height: $grid-4;
    width: $grid-4;
  }
}

.icon-alt {
  stroke: $color-primary-alt-light;
}

.icon-ok {
  stroke: $color-ok;
}

.icon-error {
  stroke: $color-error;
}

.icon-fill {
  @extend .icon;
  border-radius: $rounded;
  fill: $color-textblack;
  stroke: transparent;
  top: auto;

  &.icon-disabled {
    fill: $color-lightgray;
  }

  &.icon-white {
    fill: $color-white;
  }

  &.icon-ok {
    fill: $color-ok;
  }

  &.icon-error {
    fill: $color-error;
  }

  &.icon-active {
    fill: $color-blue;
  }
}

.icon-chevron {
  fill: $color-blue;
  height: 11px;
  width: 11px;

  &-left {
    @extend .icon-chevron;
    transform: rotate(180deg);
  }
  &-right {
    @extend .icon-chevron;
    transform: rotate(0deg);
  }
  &-up {
    @extend .icon-chevron;
    transform: rotate(-90deg);
  }
  &-down {
    @extend .icon-chevron;
    transform: rotate(90deg);
  }
}

* + .icon,
* + .icon-fill {
  display: inline-block;
  margin-left: $grid-105;
}

.icon,
.icon-fill {
  & + * {
    display: inline-block;
    margin-left: $grid-105;
  }
}

.icon-bordered {
  border-color: $color-textblack;
  border-radius: $rounded;
  border-style: solid;
  border-width: 1px;
  padding: $grid-05;

  &.icon-small {
    padding: 2px;
  }

  &.icon-ok {
    border-color: $color-ok;
  }

  &.icon-white {
    border-color: $color-white;
  }

  &.icon-disabled {
    border-color: $color-lightgray;
  }

  &.icon-error {
    border-color: $color-error;
  }

  &.icon-active {
    border-color: $color-blue;
  }
}
