
.icon-container {
  height: 3.125rem;
  width: 3.9rem;

  .icon {
    max-height: 3.1rem;
    max-width: none;
  }
}

.icon {
  display: inline-block;
  height: 100%;
  fill: transparent;
  max-height: 2rem;
  max-width: 2rem;
  stroke: currentColor;
  position: relative;
  top: -0.0625rem;
  vertical-align: middle;
  width: 100%;
}

.icon-alt {
  stroke: $color-primary-alt-light;
}
