
$z-foreground: 200;

.loading {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: $z-foreground;
}

.loading-container {
  display: block;
  height: $grid-9;
  position: relative;
  width: 100%;

  & + .loading-container {
    display: none;
  }
}

.loading-relative {
  top: auto;
}

.loading-indicator {
  left: calc(50% - 30px);
  position: absolute;
  top: calc(50% - 6px);
  width: 60px;

  .loading-inline-dot {
    height: $grid-105;
    margin: 0 $grid-05;
    width: $grid-105;
  }
}

.loading-inactive {
  display: none;
}

.loading-inline {
  display: inline-block;
  font-size: 24px;
  height: $grid-1;
  line-height: 0;
  margin-bottom: 2px;
  margin-left: $grid-1;
  vertical-align: middle;
  white-space: nowrap;
}

.loading-inline-dot {
  animation-duration: 1.4s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: blink;

  background-color: $color-primary;
  border-radius: $grid-1;
  color: $color-primary;
  display: inline-block;
  height: $grid-1;
  margin: 0 $grid-05;
  overflow: hidden;
  text-indent: -10000px;
  vertical-align: middle;
  width: $grid-1;

  &:nth-child(2) {
    animation-delay: .2s;
  }

  &:nth-child(3) {
    animation-delay: .4s;
  }

  & + loading-inline-dot {
    margin-left: 1rem;
  }
}

.loading-inline-text {
  color: $color-primary;
  font-size: $sans-s4;
  font-weight: 600;
  margin-left: $grid-2;
}

@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}
