
@import '../core.scss';

.logo {
  display: inline-block;
  height: auto;
  margin-left: -$grid-1;
  margin-top: -$grid-1;
  padding: $grid-1;
  width: auto;
}

.logo-img {
  width: 240px;
  height: 54px;
}
