
@import '../core.scss';

.logo {
  height: 41px;
  width: 201px;
}

.header-title a {
  display: inline-block;
  height: auto;
  margin-left: -$grid-1;
  margin-top: -$grid-1;
  padding: $grid-1;
  width: auto;
}
