
@import '../core.scss';
@import '../override_vars.scss';
@import '../vars.scss';

.content {
  background: $color-white;
  padding-left: $grid-3;
  padding-right: $grid-3;
  padding-top: $grid-4;
  padding-bottom: $grid-4;
}

.content-dashboard {
  border-top: 2.0625rem solid $color-primary-darkest;
}
