
@import "../core.scss";
@import "../override_vars.scss";
@import "../vars.scss";

.content {
  background: $color-white;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2.3125rem;
  padding-bottom: 2rem;
}

.content-dashboard {
  border-top: 33px solid $color-primary-darkest;
}