
@import '../core.scss';
@import '../override_vars.scss';
@import '../vars.scss';

.content.content-text {
  background-color: $color-white;
  padding: $grid-4 $grid-2 $grid-2;

  @include media($medium-screen) {
    padding: $grid-4;
  }
}
