
@import "../override_vars.scss";
@import "../core.scss";
@import "../../../node_modules/uswds/src/stylesheets/core/utilities.scss";

.nav {
  @include unstyled-list;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  margin-top: .6rem;

  @include media($medium-screen) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.nav-link {
  color: $color-gray;
  font-size: 1.1rem;
  font-weight: 600;
  padding-bottom: .2rem;
  padding-top: .2rem;
  text-transform: uppercase;

  a {
    color: $color-gray;
  }

  @include media($medium-screen) {
    font-size: inherit;
    padding-bottom: 0;
    padding-left: .2rem;
    padding-right: .2rem;
    padding-top: 0;
  }
}

// triage tab treatment

$color-lightgray: #bababa;
$border-highlight: 3px;
$padding-highlight: 4px;

.nav-tabs {
  display: flex;
  flex-direction: row;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: $color-lightgray;
  margin-top: 1rem;
}

.nav-tabs li {
  flex: 1;
  &:before {
    display: none;
  }
}

// gettin deep
.nav-tabs a {
  display: block;
  width: auto;
  text-align: center;
  color: $color-lightgray;
  font-weight: 600;
  border-bottom: 1px solid $color-lightgray;
  padding-bottom: $padding-highlight + $border-highlight - 1;
}

.nav-tabs .active a,
.nav-tabs a:hover {
    color: $color-primary;
    text-decoration: none;
    padding-bottom: $padding-highlight;
    border-bottom: $border-highlight solid $color-primary; 
} 

// secondary tabs

.nav-tabs + div .nav-tabs {
  .active a,
  a:hover {
    border-color: $color-secondary;
    color: $color-secondary;
  }
}