
.nav {
  @include unstyled-list;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;

  @include media($medium-screen) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.nav-link {
  color: $color-gray;
  font-size: 1.1em;
  padding-bottom: .2em;
  padding-top: .2em;
  text-transform: uppercase;

  a {
    color: $color-gray;
  }

  @include media($medium-screen) {
    font-size: inherit;
    padding-bottom: 0;
    padding-left: .2em;
    padding-right: .2em;
    padding-top: 0;
  }
}
