
.nav_toggle {
  background: $color-primary-darker;
  cursor: pointer;
  padding-bottom: .35rem;
  padding-top: .35rem;
  text-align: center;
  width: 2.6rem;
}

.nav_toggle-icon {
  color: white;
  font-size: 1.375rem;
}
