@import '../override_vars.scss';
@import '../core.scss';

.overview {
  border-bottom: $grid-05 solid $color-cream;
  margin: (-$grid-3) (-$grid-3) $grid-3 (-$grid-3);
  padding: $grid-3 $grid-3 $grid-4;
}
