@import '../override_vars.scss';
@import '../core.scss';

.page-header {
  display: flex;
  margin: 0 0 $grid-4;
}

.page-header-title {
  flex: 1;

  .icon-large {
    top: -3px;
  }
}

.page-header-actions {
  flex: none;
  margin-right: -$grid-1;
}
