
@import '../../../node_modules/uswds/src/stylesheets/core/defaults.scss';
@import '../override_vars.scss';
@import '../core.scss';

$panel-padding: 1rem;

.panel {
  @include clearfix;
  min-height: 10rem;
  padding: 0.75rem 0 0 0;

  & + .panel {
    margin-top: 1.5rem;
  }
}

h1 + .panel,
h2 + .panel,
h3 + .panel,
h4 + .panel {
  margin-top: 2rem;
}

.panel-title {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.panel-group {
  margin-bottom: 0.65rem;
}

.panel-actions {
  > * {
    margin-right: 2rem;

    &:last-child {
      margin-right: 0;
    }
  }

  .action {
    margin-left: 0;
    margin-right: 0;

    & + .action {
      margin-left: 0.5rem;
    }
  }
}

.panel-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;

  h1, h2, h3, h4 {
    font-size: 1rem;
    font-weight: 900;
  }
}

.panel-row {
  $vertical-padding: $grid-105;
  padding: $vertical-padding 0;

  // TODO react problem can't return just rows without wrapped div.
  > div {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  form {
    background-color: $color-background-light;
    flex-grow: 1;
    margin: 1rem -1rem -1rem;
    padding: 1rem;
    width: 100%;
  }

  > .panel-row {
    border-top: 1px solid $color-textblack;
    display: block;

    > .panel-row {
      border-top: 1px solid $color-lightgray;
      display: flex;
      margin-top: $vertical-padding;
      padding-bottom: 0;
      padding-left: $grid-4;
    }
  }
}

.panel-row-boxed {
  border: 1px solid $color-textblack;
  margin-bottom: $grid-3;
  padding: $grid-3;

  &:last-child {
    margin-bottom: 0;
  }
}

.panel-row-space {
  margin-top: 1rem;
}

.panel-form-replace {
  margin: -.5rem 0 -.5rem 0;
}

.panel-block {
  $vertical-padding: $panel-padding / 2;
  padding: $vertical-padding 0;
}

.panel-column {
  font-size: $sans-s4;
  margin-right: 1rem;

  &:last-child,
  &.panel-column-last {
    margin-right: 0;
    text-align: right;
  }
}

.panel-column-error {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: $color-warning; // #e31c3d;
  padding-left: 0.5rem;
}

.panel-column-less {
  flex-grow: 0;
  flex-shrink: 1;
  min-width: 25%;
}

.panel-new {
  background-color: $color-white;
  margin-top: $grid-4;
  padding: $grid-4;
}

.panel-new-date {
  color: $color-red;
  display: block;
  font-size: $sans-s4;
  font-weight: 600;
  padding-bottom: $grid-1;
}

.panel-routes,
.panel-services {

  h1 {
    font-weight: 400;
  }

  h3 {
    font-size: 0.75rem;

    a {
      color: #056dd4;
    }

  }

  a.route-link {
    text-decoration: underline;
  }

}
