
@import '../../../node_modules/uswds/src/stylesheets/core/defaults.scss';
@import '../override_vars.scss';
@import '../core.scss';

$panel-padding: 1rem;

.panel {
  border-bottom: 1px solid $color-background-light;
  border-top: 1px solid $color-background-light;
  min-height: 10rem;
  padding: 0.75rem 0.5rem 0 0.5rem;

  & + .panel {
    margin-top: 3rem;
  }
}

h1 + .panel,
h2 + .panel,
h3 + .panel,
h4 + .panel {
  margin-top: 2rem;
}

.panel-title {
  font-size: 1.3rem;
  font-weight: 600;
}

.panel-group {
  margin-bottom: 0.65rem;
}

.panel-group:last-child {
  .panel-row {
    border-bottom: 0;
  }
}

.panel-actions {
  > * {
    margin-right: 2rem;

    &:last-child {
      margin-right: 0;
    }
  }

  .action {
    margin-left: 0;
    margin-right: 0;

    & + .action {
      margin-left: 0.5rem;
    }
  }
}

.panel-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;

  h1, h2, h3, h4 {
    font-size: 1rem;
    font-weight: 900;
  }
}

.panel-row,
.panel-block {
  $vertical-padding: $panel-padding / 2;
  border-top: 1px solid $color-background-light;
  padding: $vertical-padding 0;

  // TODO react problem can't return just rows without wrapped div.
  > div {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  form {
    background-color: $color-background-light;
    flex-grow: 1;
    margin: 1rem -1rem -1rem;
    padding: 1rem;
    width: 100%;
  }

  &:last-of-type {
    border-bottom: 2px solid $color-background-light;
  }

  .panel-form-replace {
    margin: -.5rem 0 -.5rem 0;
  }
}

.panel-block {
  border-top: 0;
  margin-bottom: 2rem;
}

.panel-column {
  font-size: $sans-s4;
  flex: 1 0 0;

  &:last-child,
  &.panel-column-last {
    padding-right: 2rem;
    text-align: right;
  }
}

.panel-column-error {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: $color-warning; // #e31c3d;
  padding-left: 0.5rem;
}

.panel-column-less {
  flex-grow: 0;
  flex-shrink: 1;
  min-width: 25%;
}
