@import '../override_vars.scss';
@import '../core.scss';

.js-search-button {
  display: none;

  @include media($nav-width) {

    background-image: url('#{$static-img-path}/i-search.png');
    background-image: url('#{$static-img-path}/i-search.svg');
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto $b4x;
    display: inline-block;
    height: $b4x;
    margin: 0 0 0 $b4x;
    position: relative;
    text-align: center;
    top: -5px;
    width: $b4x;

    &:hover {
      background-image: url('#{$static-img-path}/i-search-hover.png');
      background-image: url('#{$static-img-path}/i-search-hover.svg');
      background-color: transparent;
      cursor: pointer;
    }

    span {
      @include sr-only();
    }

  }

  @include media($medium-screen) {
    &.is-hidden {
      background-image: url('#{$static-img-path}/close.png');
      background-image: url('#{$static-img-path}/close.svg');
      background-size: $b4x $b4x;
      right: -40px;
      top: -5px;
      z-index: 999;
      margin: 0;

      &:hover {
        background-image: url('#{$static-img-path}/close-blue.png');
        background-image: url('#{$static-img-path}/close-blue.svg');
      }
    }
  }
}