@import '../core.scss';

.js-search-button {
  display: none;

  @include media($nav-width) {

    background-image: url('#{$static-img-path}/i-search.png');
    background-image: url('#{$static-img-path}/i-search.svg');
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto $hit-area / 2;
    display: inline-block;
    height: 3rem;
    margin: 0;
    position: relative;
    text-align: center;
    top: -15px;
    width: 3rem;

    &:hover {

      background-image: url('#{$static-img-path}/i-search-hover.svg');
      background-image: url('#{$static-img-path}/i-search-hover.png');
      background-color: transparent;
      cursor: pointer;
    }

    span {
      @include sr-only();
    }

  }

  @include media($large-screen) {

    &.is-hidden {

      background-image: url('#{$static-img-path}/close.svg');
      background-image: url('#{$static-img-path}/close.png');
      background-size: auto 3rem;
      left: 10px;
      top: 1px;
      z-index: 999;
    }
  }
}
