
$chevron_size: 4.865rem;

.section {
  padding-bottom: 12.5rem;
  padding-top: 2.75rem;
}

.section-middle {
  padding-bottom: 12.2rem;
  padding-top: 1.5rem;
}

.section-content {
  margin-top: 0;

  &:last-child {
    margin-right: auto;
  }

  @include media($medium-screen) {
    @include span-columns(8);
    float: none;
    margin-left: auto;
    margin-right: auto;

    &:last-child {
      margin-right: auto;
    }
  }
}

.section-dark {
  color: $color-white;
  position: relative;

  a {
    color: $color-primary-alt;
  }

  &:before {
    background-image: url("#{$static-img-path}/chevron-top.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
    display: block;
    height: $chevron_size;
    position: absolute;
    top: -$chevron_size;
    width: 100%;
  }
}


.section-bg-parent {
  position: relative;
}

.section-bg {
  background-color: transparent;

  &:before {
    background: url("#{$static-img-path}/cg-bg-b.png") no-repeat 0 0;
    content: '';
    height: 44.3rem;
    left: -23rem;
    position: absolute;
    top: -160px;
    width: 39.85rem;
    z-index: -1;

    @include media($medium-screen) {
      left: -12rem;
    }
  }
}

.section-bg-far-r {
  background: url("#{$static-img-path}/cg-bg-c.png") no-repeat 278% 5vh;

  @include media($medium-screen) {
    background-position-x: 108%;
  }
}

.section-light {
  background: $color-white;
  position: relative;

  &:before {
    background-image: url("#{$static-img-path}/chevron-bottom.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
    display: block;
    height: $chevron_size;
    position: absolute;
    top: -$chevron_size;
    width: 100%;
  }
}

.section-chevron_alt.section-chevron_alt {
  padding-bottom: 6.5rem;

  &:not(.section-first) {
    background-color: $color-primary-darkest;
    margin-top: -4.5rem;
    padding-top: $chevron_size;
  }

  &:not(.section-first) {
    &:before {
      background-image: url("#{$static-img-path}/chevron-top-inverse.svg");
      top: -$chevron_size;
    }
  }

  &:after {
    background-image: url("#{$static-img-path}/chevron-bottom-inverse.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    bottom: 0rem;
    content: '';
    display: block;
    height: $chevron_size;
    position: absolute;
    width: 100%;
  }

  & + .section-middle {
    padding-top: 4.5rem;

    &:before {
      display: none;
    }
  }

  .section-icon {
    margin-top: 3.3rem;
  }
}

.section-first {
  &:before {
    display: none;
  }
}

.section-icon {
  left: 50%;
  margin-left: -2.4375rem;
  margin-top: 4.7rem;
  position: absolute;
  z-index: 1;
}
