
$width-nav-sidebar:  250px;
$color-grid-dark:    #727272;
$color-grid-light:   #e3e4e5;
$site-top:           124px;

.sidenav {
  position: fixed;
  top: $site-top;
  bottom: 0;
  left: 0;
  width: $width-nav-sidebar;
  border-right: 1px solid $color-gray-light;
  padding: 5rem 3rem 3rem 3rem;
  overflow: auto;
  display: none;
  z-index: -1;
  
  .lt-ie9 & {
    width: 25%;
  }

  .usa-sidenav-sub_list {
    display: none;
  }

  @include media($medium-screen + $width-nav-sidebar) {
    display: block;
  }
}

.sidenav-main_content {
  @include media($medium-screen) {
    top: $site-top;
  }
  position: absolute;
  top: 4rem;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: {
    bottom: 0;
    top: 1em;
  }
  z-index: -1;
  .lt-ie9 & {
    width: 75%;
  }

  @include media($medium-screen + $width-nav-sidebar) {
    width: calc(100% - #{$width-nav-sidebar});
    .lt-ie9 & {
      width: 75%;
    }
  }
}
