
@import '../core.scss';
@import '../override_vars.scss';

$width-nav-sidebar: 300px;
$site-top:          124px;
$color-light-font:  #ffffff;
$color-background:  $color-primary-darkest;
$color-level-1-bg:  $color-background;
$color-level-2-bg:  $color-primary-darker;
$color-level-3-bg:  $color-primary-darker;
$color-highlight:   $color-gold;
$color-heading:     $color-primary-alt-light;

.sidenav-parent {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: $site-max-width;
  position: relative;
}

.sidenav {
  /* stylelint-disable plugin/declaration-block-max-declarations */
  align-self: stretch;
  background-color: $color-primary-darkest;
  bottom: 0;
  display: none;
  flex-grow: 0;
  flex-shrink: 0;
  height: 100%;
  padding: 0;
  position: absolute;
  top: 0;
  width: $width-nav-sidebar;
  z-index: 1;
  /* stylelint-enable */

  @include media($medium-screen + $width-nav-sidebar) {
    display: block;
    position: static;
  }

  &.active {
    display: block;
  }
}

.sidenav-main {
  align-self: auto;
  flex-grow: 1;
  padding: 0;
  width: 100%;

  @include media($medium-screen + $width-nav-sidebar) {
    width: calc(100% - #{$width-nav-sidebar});

    &.active {
      width: calc(100% - #{$width-nav-sidebar});
    }
  }
}

.sidenav-list {
  width: 100%;

  a {
    border-left: 4px solid transparent;
    color: $color-light-font;
    line-height: 1.2;
    word-wrap: break-word;

    &:hover {
      background-color: transparent;
      border-left: 4px solid $color-highlight;
      color: $color-highlight;

      .sidenav-arrow {
        border-color: $color-highlight;
      }
    }
  }

  li {
    border-top: 0;
    font-size: 0.8rem;
    list-style: none;
  }

}

.sidenav-entity.sidenav-entity {
  background-color: $color-background;
  color: white;
}

.sidenav-header.sidenav-header {
  background-color: $color-background;
  border-top: 1px solid $color-level-2-bg;
  margin-bottom: 0;

  > a {
    background-color: $color-level-2-bg;
    margin-bottom: 1px;
    padding: 0 0 0 1rem;

    &:hover {
      background-color: $color-level-2-bg;
      color: $color-highlight;
      padding: 0 0 0 1rem;
    }
  }
}

.sidenav-header-text {
  border-left: 4px solid transparent;
  color: $color-heading;
  display: inline-block;
  font-size: .7rem;
  letter-spacing: .15em;
  line-height: 1;
  padding: .85rem .85rem .85rem 1.8rem;
  text-transform: uppercase;
}

.sidenav-level-one {
  background-color: $color-background;

  > li {
    background-color: $color-level-2-bg;
    margin-bottom: 4px; //.2rem displaying inconsistently...
  }
}

.sidenav-arrow {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  float: right;
  height: 8px; //.6em is inconsistent
  width: 8px; //.6em is inconsistent
}

.sidenav-arrow-right {
  margin-top: .3rem;
  transform: rotate(-45deg);
}

.sidenav-arrow-down {
  margin-top: .2rem;
  transform: rotate(45deg);
}

.sidenav-active {
  background-color: $color-highlight;
  color: $color-background;

  > a {
    color: $color-background;
    background-color: $color-highlight;
    font-weight: 800;
    text-decoration: none;

    &:hover {
      color: $color-background;
      background-color: $color-highlight;
    }
  }

  /* stylelint-disable declaration-no-important */
  .sidenav-arrow {
    border-color: $color-background !important; // prevents hover re-color when active
  }
  /* stylelint-enable */
}

.sidenav-level-two {
  background-color: $color-background;

  > li {
    background-color: $color-background;
    margin-bottom: 0;

    a {
      padding-left: 2rem;

      &:hover {
        padding-left: 2rem;
      }
    }
  }
}

.sidenav-level-three {
  background-color: $color-background;

  /* Removes weird margin in list for third level */
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  padding-left: 0;

  > li {
    background-color: $color-level-3-bg;
    margin-bottom: 1px;

    a {
      padding-left: 3rem;

      &:hover {
        padding-left: 3rem;
      }
    }
  }
}

// extra specificity to override level 2 li bg
.marketplace {
  background-color: $color-background;

  > a {
    &:hover {
      padding-left: 2rem;
    }
  }
}
