
$width-nav-sidebar:  300px;
$color-grid-dark:    #727272;
$color-grid-light:   #e3e4e5;
$site-top:           124px;

.sidenav-parent {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: $site-max-width;
}

.sidenav {
  align-self: auto;
  flex-grow: 0; 
  padding: 0;
  width: $width-nav-sidebar;

  @include media($medium-screen + $width-nav-sidebar) {
    display: block;
  }
}

.sidenav-main {
  align-self: auto;
  flex-grow: 1;
  margin-bottom: 5em;
  padding: 0 2em 2em 0;
  width: 100%;

  @include media($medium-screen + $width-nav-sidebar) {
    width: calc(100% - #{$width-nav-sidebar});
  }
}

.sidenav-sub_list {
  display: none;
}

