
@import '../../../node_modules/uswds/src/stylesheets/core/defaults.scss';
@import '../override_vars.scss';
@import '../core.scss';

.status {
  text-transform: capitalize;
}

.status-started,
.status-running,
.status-ok {
  color: $color-ok;
}

.status-stopped,
.status-inactive {
  color: $color-inactive;
}

.status-crashed,
.status-error {
  color: $color-error;

}

.stat-success {
  &::before {
    @extend .status-pill;
    height: 100%;
}
}
