
@import '../core.scss';
@import '../override_vars.scss';
@import '../vars.scss';

$input-font-size: $sans-s2;

.stat {
  align-items: center;
  border-left-color: transparent;
  border-left-style: solid;
  border-left-width: 0;
  display: flex;
  justify-content: space-between;
  min-height: $grid-4;
  position: relative;
  width: 100%;

  .error_message {
    font-size: $input-font-size;
  }
}

h5 + .stat {
  margin-top: $grid-1;
}

.stat-error,
.stat-warning,
.stat-success {

  padding-left: $grid-2;

  &::before {
    @extend .status-pill;
    height: 100%;
  }
}

.stat-error {
  &::before {
    border-color: $color-error;
  }
}

.stat-warning {
  &::before {
    border-color: $color-gold;
  }
}

.stat-success {
  &::before {
    border-color: $color-finish;
  }
}

.stat-info {
  font-size: $sans-s2;
  font-weight: 500;
  margin-right: $grid-1;
}

.stat-primary {
  font-size: $sans-s6;
  font-weight: 400;
  white-space: nowrap;
}

.stat-single_box {
  $v-space: $grid-2;
  background-color: $color-cream;
  border-radius: $rounded;
  bottom: 0;
  left: calc(50% - #{$grid-8});
  margin: -$v-space 0;
  padding: $v-space;
  position: absolute;
  right: calc(50% - #{$grid-8});
  text-align: center;
  top: 0;

  .subtext {
    bottom: $v-space;
    font-size: $sans-s3;
    font-weight: 400;
    left: $v-space;
    line-height: $lh-cap;
    position: absolute;
    right: $v-space;
  }
}

// Double classes to compete with specificity over input elements
.stat-input {
  &.stat-input-text {
    // stylelint-disable declaration-block-no-ignored-properties
    display: inline;
    font-size: $input-font-size;
    margin: 0;
    width: 6rem;
    // stylelint-enable
  }

  &.stat-input-text-scale {
    margin-top: $grid-1;
  }

  &.stat-input-label {
    display: inline;
    margin-left: $grid-1;
  }
}
