<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="{{ path '/css/cloudgov-style-min.css' }}">
    <link media="all" rel="stylesheet" href="{{ path '/css/main.css' }}">
    <title>Cloud.gov Pattern Library</title>
</head>
<body class="{{ _target.handle }}-preview preview">

{{> @partial-block }}

</body>
</html>
