
.usa-grid {
  padding-left: 2rem;
  padding-right: 2rem;

  @include media($medium-screen) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.usa-disclaimer {
  // Requires being overridden because uswds sets a different root font-size on
  // <html> which effects all rem units.
  font-size: 0.9rem;
}

.usa-button {
  font-size: 1.2rem;
}
