
// path to override for web design standards
$static-img-path: '../img' !default;
$static-font-path: '../fonts' !default;

// color
$color-primary:              #056dd4;
$color-primary-darker:       #2c3e50;
$color-primary-darkest:      #1f2c38;

$color-primary-alt:          #3498db;
$color-primary-alt-dark:     darken($color-primary-alt, 40%);
$color-primary-alt-darkest:  darken($color-primary-alt, 70%);
$color-primary-alt-light:    #77b6ff;
$color-primary-alt-lightest: #d9f1ff;

$color-secondary:            #e74c3c;
$color-secondary-dark:       #b0392e;
$color-secondary-darkest:    darken($color-secondary, 75%);
$color-secondary-light:      #f3736e;
$color-secondary-lightest:   #deeeef; // DEEF!

$color-focus:                rgba(255, 221, 0, 0.55);
$color-visited:              #4c2c92;

$color-gold:                 #f8ba1c;

$color-finish:               #0daf02;
$color-warning:              #cb4f03;
$color-error:                #f16031;

$color-gray:                 #595959;
$color-gray-dark:            darken($color-gray, 20%);

$color-disclaimer-text:      #000000;
$color-disclaimer-link:      #0071bc;

$color-base:                 $color-gray;
$text-max-width:             660px;

// TODO what color is this? it should follow convention
$color-lightgray:            #bababa;
$site-max-width:             1040px;

$color-background-light:     #f3f4f8;

$nav-width:                  600px;


$font-sans:                  '18Franklin', 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial', sans-serif;
$font-serif:                 'Georgia', 'Cambria', 'Times New Roman', 'Times', serif;
$font-mono:                  'Roboto Mono', 'Bitstream Vera Sans Mono', 'Consolas', 'Courier', monospace;
