// color

// named colors
$color-blue:                    #056dd4;
$color-brightmint:              #00df99;
$color-cream:                   #f5f5f3;
$color-gold:                    #f4b400;
$color-green:                   #0daf00;
$color-red:                     #be4900;

$color-trueblack:               #000000;
$color-textblack:               #333333;
$color-darkgray:                #555555;
$color-mediumgray:              #8e8e8e;
$color-mediumgray-trans:        rgba(0, 0, 0, .4);
$color-lightgray:               #d3d3d3;
$color-lightestgray:            #f5f5f3;
$color-white:                   #ffffff; // perhaps redundant

// semantic colors
$color-primary:                 $color-blue;
$color-primary-darker:          #2c3e50;
$color-primary-darkest:         #1f2c38;

$color-primary-alt:             #3498db;
$color-primary-alt-dark:        darken($color-primary-alt, 40%);
$color-primary-alt-darkest:     darken($color-primary-alt, 70%);
$color-primary-alt-light:       #77b6ff;
$color-primary-alt-lightest:    #d9f1ff;

$color-secondary:               $color-red;
$color-secondary-dark:          #b0392e;
$color-secondary-darkest:       darken($color-secondary, 75%);
$color-secondary-light:         #f3736e;
$color-secondary-lightest:      #deeeef; // DEEF!

$color-warning:                 $color-red;
$color-error:                   $color-red;
$color-finish:                  $color-green;
$color-ok:                      $color-green;
$color-inactive:                $color-textblack;

$color-visited:                 $color-blue;
$color-focus:                   $color-gold;

$color-base:                    $color-textblack;
$color-background-light:        $color-cream;

// Override WDS gray colors
$color-gray:                    $color-mediumgray;
$color-gray-dark:               $color-darkgray; // redundant to prevent breaking
$color-disclaimer-text:         $color-textblack;
$color-disclaimer-link:         $color-blue;

// typefaces
$font-sans:                     '18Franklin-webfont', system, -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-serif:                    'Georgia', 'Cambria', 'Times New Roman', 'Times', serif;
$font-mono:                     'Roboto Mono', 'Bitstream Vera Sans Mono', 'Consolas', 'Courier', monospace;

// utility class scale suffixes

$u-breakpoints: '-xs', '-s', '-m', '-l', '-xl';
$u-percentages: '5', '10', '20', '25', '30', '33', '40', '50', '60', '66', '70', '75', '80', '90', '100';
$u-percentageSuffix: 'ct';
$u-percentages-s: '5%', '10%', '20%', '25%', '30%', '33.3333333333%', '40%', '50%', '60%', '66.6666666666', '70%', '75%', '80%', '90%', '100%';
$u-typescale: '-s1', '-s2', '-s3', '-s4', '-s5', '-s6', '-s7', '-s8', '-s9', '-s10';
$u-pixels: '1px', '2px';
$u-flexscale: '-f1', '-f2', '-f3', '-f4', '-f5', '-f6', '-f7', '-f8', '-f9', '-f10', '-f11';
$u-gridscale: '05', '1', '105', '2', '3', '4', '5', '6', '7', '8', '9', '10', '15', '20', '25', '30', '40', '50';

// spacing scale and grid
// spacing is calculated on multiples of a base grid (here, 8px)
$grid-base:          8; // unitless for some calculations
$grid-base-px:       8px; // the same value in px
$grid-type:          $grid-base * 2; // establishes the base type size (16px) for rem calculations; unitless here
$grid-type-px:       #{$grid-type}px; // the base type size in px

// calculates multiples of the base grid in units of rem
$grid-05:            #{($grid-base / 2 / $grid-type)}rem;     // 4px
$grid-1:             #{($grid-base / $grid-type)}rem;         // 8px
$grid-105:           #{($grid-base * 1.5 / $grid-type)}rem;   // 12px
$grid-2:             #{($grid-base * 2 / $grid-type)}rem;     // 16px
$grid-3:             #{($grid-base * 3 / $grid-type)}rem;     // 24px
$grid-4:             #{($grid-base * 4 / $grid-type)}rem;     // 32px
$grid-5:             #{($grid-base * 5 / $grid-type)}rem;     // 40px
$grid-6:             #{($grid-base * 6 / $grid-type)}rem;     // 48px
$grid-7:             #{($grid-base * 7 / $grid-type)}rem;     // 56px
$grid-8:             #{($grid-base * 8 / $grid-type)}rem;     // 64px
$grid-9:             #{($grid-base * 9 / $grid-type)}rem;     // 72px
$grid-10:            #{($grid-base * 10 / $grid-type)}rem;    // 80px
$grid-15:            #{($grid-base * 15 / $grid-type)}rem;    // 80px
$grid-20:            #{($grid-base * 20 / $grid-type)}rem;    // 160px
$grid-25:            #{($grid-base * 25 / $grid-type)}rem;    // 160px
$grid-30:            #{($grid-base * 30 / $grid-type)}rem;    // 240px
$grid-40:            #{($grid-base * 40 / $grid-type)}rem;    // 320px
$grid-50:            #{($grid-base * 50 / $grid-type)}rem;    // 400px

$grid-n05:            #{($grid-base / -2 / $grid-type)}rem;     // 4px
$grid-n1:             #{($grid-base * -1 / $grid-type)}rem;     // 8px
$grid-n105:           #{($grid-base * -1.5 / $grid-type)}rem;   // 12px
$grid-n2:             #{($grid-base * -2 / $grid-type)}rem;     // 16px
$grid-n3:             #{($grid-base * -3 / $grid-type)}rem;     // 24px
$grid-n4:             #{($grid-base * -4 / $grid-type)}rem;     // 32px
$grid-n5:             #{($grid-base * -5 / $grid-type)}rem;     // 40px

$grid-s: $grid-05, $grid-1, $grid-105, $grid-2, $grid-3, $grid-4, $grid-5, $grid-6, $grid-7, $grid-8, $grid-9, $grid-10, $grid-15, $grid-20, $grid-25, $grid-30, $grid-40, $grid-50;
$grid-n-multipliers: '05', '1', '105', '2', '3', '4', '5';
$grid-n-s: $grid-n05, $grid-n1, $grid-n105, $grid-n2, $grid-n3, $grid-n4, $grid-n5;

// widths
$nav-width:          $grid-base-px * 75;          // 600px;
$site-max-width:     $grid-base-px * 130;         // 1040px;
$text-max-width:     36em;
$text-narrow-width:  17em;

// type scale
$fs-sans-s1:           (10rem / $grid-type);         // 10px;
$fs-sans-s2:           (12rem / $grid-type);         // 12px;
$fs-sans-s3:           (13rem / $grid-type);         // 13px;
$fs-sans-s4:           (14rem / $grid-type);         // 14px;
$fs-sans-s5:           (16rem / $grid-type);         // 16px;
$fs-sans-s6:           (18rem / $grid-type);         // 18px;
$fs-sans-s7:           (20rem / $grid-type);         // 20px;
$fs-sans-s8:           (24rem / $grid-type);         // 24px;
$fs-sans-s9:           (40rem / $grid-type);         // 40px;
$fs-sans-s10:          (100rem / $grid-type);        // 100px;

$fs-sans-s: $fs-sans-s1, $fs-sans-s2, $fs-sans-s3, $fs-sans-s4, $fs-sans-s5, $fs-sans-s6, $fs-sans-s7, $fs-sans-s8, $fs-sans-s9, $fs-sans-s10;

$fs-serif-s1:          (10rem / $grid-type);         // 10px;
$fs-serif-s2:          (13rem / $grid-type);         // 13px;
$fs-serif-s3:          (14rem / $grid-type);         // 14px;
$fs-serif-s4:          (15rem / $grid-type);         // 15px;
$fs-serif-s5:          (17rem / $grid-type);         // 17px;
$fs-serif-s6:          (19rem / $grid-type);         // 19px;
$fs-serif-s7:          (23rem / $grid-type);         // 23px;
$fs-serif-s8:          (27rem / $grid-type);         // 27px;
$fs-serif-s9:          (43rem / $grid-type);         // 43px;
$fs-serif-s10:         (108rem / $grid-type);        // 108px;

$fs-serif-s: $fs-serif-s1, $fs-serif-s2, $fs-serif-s3, $fs-serif-s4, $fs-serif-s5, $fs-serif-s6, $fs-serif-s7, $fs-serif-s8, $fs-serif-s9, $fs-serif-s10;

$fs-mono-s1:           (10rem / $grid-type);         // 10px;
$fs-mono-s2:           (12rem / $grid-type);         // 12px;
$fs-mono-s3:           (13rem / $grid-type);         // 13px;
$fs-mono-s4:           (15rem / $grid-type);         // 15px;
$fs-mono-s5:           (16rem / $grid-type);         // 16px;
$fs-mono-s6:           (18rem / $grid-type);         // 18px;
$fs-mono-s7:           (23rem / $grid-type);         // 23px;
$fs-mono-s8:           (25rem / $grid-type);         // 25px;
$fs-mono-s9:           (44rem / $grid-type);         // 44px;
$fs-mono-s10:          (104rem / $grid-type);        // 104px;

$fs-mono-s: $fs-mono-s1, $fs-mono-s2, $fs-mono-s3, $fs-mono-s4, $fs-mono-s5, $fs-mono-s6, $fs-mono-s7, $fs-mono-s8, $fs-mono-s9, $fs-mono-s10;

$lh-single:    1;
$lh-hed:       1.05;
$lh-cap:       1.3;
$lh-body:      1.55;
$lh-display:   1.65;

// border radius
$rounded:         2px;
$rounded--:       0;
