// color
$color-primary:              #056dd4;
$color-primary-darker:       #2c3e50;
$color-primary-darkest:      #1f2c38;

$color-primary-alt:          #3498db;
$color-primary-alt-dark:     darken($color-primary-alt, 40%);
$color-primary-alt-darkest:  darken($color-primary-alt, 70%);
$color-primary-alt-light:    #77b6ff;
$color-primary-alt-lightest: #d9f1ff;

$color-secondary:            #cb4f03;
$color-secondary-dark:       #b0392e;
$color-secondary-darkest:    darken($color-secondary, 75%);
$color-secondary-light:      #f3736e;
$color-secondary-lightest:   #deeeef; // DEEF!

$color-focus:                rgba(255, 221, 0, 0.55); // slated for a change

// TODO find new value for this.
$color-visited:              #4c2c92;

$color-gold:                 #feb000;

$color-finish:               #0daf00;
$color-warning:              $color-secondary;
$color-error:                $color-secondary;

// Cloud.gov grays
$color-trueblack:               #000000;
$color-textblack:               #333333;
$color-darkgray:                #555555;
$color-mediumgray:              #8e8e8e;
$color-lightgray:               #d3d3d3;
$color-lightestgray:            #f5f5f3;
$color-white:                   #ffffff; // perhaps redundant

// Override WDS gray colors
$color-gray:                 $color-darkgray;
$color-gray-dark:            darken($color-gray, 20%);
$color-disclaimer-text:      #000000;
$color-disclaimer-link:      #0071bc;

$color-base: $color-textblack;
$color-background-light:          $color-lightestgray;

$text-max-width:    660px;

// TODO what color is this? it should follow convention
$site-max-width:    1040px;

$nav-width:                  600px;

$font-sans:                  '18Franklin', system, -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-serif:                 'Georgia', 'Cambria', 'Times New Roman', 'Times', serif;
$font-mono:                  'Roboto Mono', 'Bitstream Vera Sans Mono', 'Consolas',
  'Courier', monospace;
