@import 'override_vars.scss';

.usa-nav-secondary {
  @include media($medium-screen) {
    position: static;
  }
  .usa-search {

    margin-bottom: 1rem;
    margin-top: 1rem;

    @include media($medium-screen) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.usa-grid {
  padding-left: $grid-2;
  padding-right: $grid-2;
}

.usa-disclaimer {
  // Requires being overridden because uswds sets a different root font-size on
  // <html> which effects all rem units.
  background-color: $color-textblack;
  color: $color-white;
  font-size: $sans-s2;
  padding-left: $grid-05;
  padding-top: 9px;
  font-weight: 600;

  .usa-disclaimer-stage {
    margin-top: 0;
  }

  a,
  a:active,
  a:hover,
  a:visited {
    color: $color-lightgray;
    text-decoration: underline;
    font-weight: 400;
  }
}

.usa-disclaimer-official {
  padding-left: $grid-05;

  img {
    margin-top: 3px;
    width: 1rem;
  }
}

.usa-sidenav-list {
  margin-left: -$grid-1;

  a {
    padding: $grid-1;
    /* stylelint-disable selector-no-qualifying-type */
    &:hover,
    &.usa-current,
    &:active {
      padding: $grid-1;
    }
  }
}

.usa-sidenav-sub_list {
  a {
    padding: $grid-105 $grid-1 $grid-105 $grid-2;

    &:hover,
    &.usa-current,
    &:active {
      padding: $grid-105 $grid-1 $grid-105 $grid-2;
    }
    /* stylelint-enable */
  }
}

.usa-alert {
  background-image: url('#{$static-img-path}/alert-info.svg');
  background-position: 1rem 1rem;
  background-size: 2.3rem;
  margin-top: 0;
}

.usa-button,
.usa-button-primary,
.usa-button:visited,
.usa-button-primary:visited,
button,
[type='button'],
[type='submit'],
[type='reset'],
[type='image'] {
  font-size: 0.85rem;
  min-width: 6rem;
  padding: 0.75rem 1rem;
  border-radius: 2px;
}

a:focus,
input:focus {
  box-shadow: 0 0 0 4px rgba(255, 221, 0, 0.55);
  outline: none;
}

.usa-search {
  background-color: #ffffff;
  border-bottom: 1px solid $color-primary;
  height: 36px;
  overflow: auto;
  padding: 0;
  position: static;
  width: 100%;
  max-width: 40em;
  z-index: 1;

  @include media($medium-screen) {
    position: absolute;
    top: 0;
    right: 0;
  }

  @include media($nav-width) {
    position: absolute;
    top: 0;
  }

  [type='search'] {
    border: none;
    color: $color-gray;
    font-weight: 400;
    font-size: $sans-s5;
    padding: 0;
    width: 100%;
    height: (43rem / $grid-type);

    &:focus {
      box-shadow: none;
      color: $color-primary;
      outline: unset;
    }
  }

  [type='submit'] {
    background-color: #ffffff;
    background-image: url('#{$static-img-path}/search.png');
    background-image: url('#{$static-img-path}/search.svg');
    height: $grid-4;
    min-width: 0;
    position: absolute;
    right: 0;
    top: $grid-05;
    width: $grid-4;
  }
}

.fa {
  font-size: 80%;
  padding-right: 4px;
  // repeated here to not eff up react css c
  width: 1.5em;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
